<div class="main-content">
  <div class="top-message">
    <h2>あなたの言葉が世界を変える</h2>
    <p>自分の思いをつぶやこう</p>
  </div><!-- /.top-message -->
</div><!-- /.main-header -->

<footer>
  <p>運営会社DIVE INTO CODE株式会社</p>
  <p>© 2015-2019 Copyright DIVE INTO CODE Corp.</p>
</footer>