<div class="container">
  <h1>編集</h1>

  <%= form_with(model: @post, local: true) do |form| %>
    <div class="form">
      <div class="form-body">
        <div class="post_content">
          <%= form.label :content %><br>
          <%= form.text_area :content %>
        </div><!-- /.post_content -->

        <%= form.submit %>
      </div><!-- /.form-body -->
    </div><!-- /.form -->
  <% end %>
</div><!-- /.container -->