/*
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 60px auto;
}

/* ヘッダー ================================ */
header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #2C3E50;
  padding: 0 30px;
}

.header-logo {
  font-size: 2.5rem;
  float: left;
}

.header-logo a {
  color: white;
}

.header-menus {
  float: right;
  list-style: none;
  padding: 0;
}

.header-menus li {
  font-size: 1.5rem;
  float: left;
  padding: 0 25px;
}

.header-menus a {
  color: white;
}
